<div class="container mx-auto p-4">

    <!-- Formulario de Filtros -->
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 mb-6">
        <h2 class="text-2xl font-bold dark:text-white">Filtros de Historial</h2>
        <form [formGroup]="filterForm" (ngSubmit)="loadHistorial(currentPage, pageSize)">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <!-- Campos de filtro traducidos al español -->
                <div *ngFor="let field of filterForm.controls | keyvalue">
                    <label [for]="field.key" class="text-sm font-medium dark:text-gray-200">
                        {{ field.key === 'history_type' ? 'Tipo de Cambio' : field.key | titlecase }}
                    </label>
                    <input [formControlName]="field.key" id="{{ field.key }}" type="text"
                        class="w-full px-4 py-2 border rounded-lg shadow-sm focus:ring dark:bg-gray-700 dark:text-gray-100" />
                </div>
            </div>
            <div class="flex justify-end mt-4">
                <button type="button" (click)="resetFilters()"
                    class="bg-gray-500 text-white px-4 py-2 rounded-lg shadow-sm">Restablecer</button>
                <button type="submit"
                    class="ml-4 bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm">Filtrar</button>
            </div>
        </form>
    </div>
    <!-- Tabla de Historial -->
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-x-auto mb-6">
        <h2 class="text-2xl font-bold my-4 dark:text-white">Historial de Servicios</h2>
        <table class="min-w-full bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden">
            <thead class="bg-gray-200 dark:bg-gray-700">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">
                        Usuario</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">ID
                        Servicio</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">
                        Inicio</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">
                        vencimiento</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">
                        Ceremonia</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">
                        Estado Pago</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">Monto
                        Pagado</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">Fecha
                        Creación</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">Fecha
                        Modificación</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">Tipo
                        Cambio</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">
                        Número Tumba</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">
                        Difunto</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-700 dark:text-gray-200 uppercase">
                        Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of historialItems" class="border-b border-gray-200 dark:border-gray-700">
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{(item.history_user) }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{ item.id }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{ item.startDate |
                        date:'shortDate'|| 'N/A'}}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{ item.endDate | date:'shortDate'
                        ||'N/A' }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{ (item.ceremony) }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{ item.is_paid ? 'Pagado' :
                        'NoPagado' }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{ item.amount_paid || 'N/A' }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{ item.loadDate | date:'shortDate'||
                        'N/A' }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{ item.history_date
                        |date:'shortDate' || 'N/A' }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{ (item.history_type)}}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{ item.numberTomb || 'N/A' }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100">{{ item.deceased }}</td>
                    <td class="px-4 py-2 text-center">
                        <button (click)="restaurarVersion(item.history_id)"
                            class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600">Restaurar</button>
                        <button (click)="compararVersiones(item.id)"
                            class="bg-yellow-500 text-white px-2 py-1 rounded hover:bg-yellow-600">Comparar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Paginación -->
    <div class="flex justify-between mt-4">
        <button (click)="goToFirstPage()" [disabled]="currentPage === 1"
            class="bg-gray-500 text-white px-4 py-2 rounded-lg shadow-sm">
            Primera Página
        </button>

        <button (click)="previousPage(5)" [disabled]="currentPage <= 5"
            class="bg-gray-500 text-white px-4 py-2 rounded-lg shadow-sm">
            Retroceder 5
        </button>

        <button (click)="previousPage(1)" [disabled]="currentPage === 1"
            class="bg-gray-500 text-white px-4 py-2 rounded-lg shadow-sm">
            Página Anterior
        </button>

        <span class="text-gray-700 dark:text-gray-200">Página {{ currentPage }} de {{ totalPages }}</span>

        <button (click)="nextPage(1)" [disabled]="currentPage === totalPages"
            class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm">
            Página Siguiente
        </button>

        <button (click)="nextPage(5)" [disabled]="currentPage + 5 > totalPages"
            class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm">
            Avanzar 5
        </button>

        <button (click)="goToLastPage()" [disabled]="currentPage === totalPages"
            class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm">
            Última Página
        </button>
    </div>
    <div class="w-full max-w-4xl mt-6">
        <h3 class="text-xl font-bold my-4 dark:text-white">Comparación de Versiones</h3>
        <ul class="bg-gray-100 dark:bg-gray-800 rounded-lg p-4 space-y-4">
            <!-- Iteramos directamente sobre el array comparacion -->
            <li *ngFor="let version of comparacion" class="text-gray-700 dark:text-gray-200">
                <strong>Versión ID:</strong> {{ version.version_id }} - <strong>Fecha:</strong> {{ version.fecha }}
                <ul class="ml-4 mt-2">
                    <!-- Iteramos sobre cada cambio en esta versión -->
                    <li *ngFor="let cambio of version.cambios">
                        <strong>{{ cambio.campo }}:</strong> {{ cambio.antes || 'N/A' }} &rarr; {{ cambio.despues ||
                        'N/A' }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>