<header class="bg-gray-800 p-4 text-white flex justify-between items-center">
  <h1 class="text-lg font-bold">Cemeterio del Condado</h1>

  <!-- Verifica si el usuario está autenticado -->
  <div *ngIf="!isAuthenticated(); else loggedInTemplate">
    <!-- Formulario de Login -->
    <form (ngSubmit)="login()" class="flex space-x-4">
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
        class="px-2 py-1 rounded text-gray-800"
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        class="px-2 py-1 rounded text-gray-800"
      />
      <button type="submit" class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded">Login</button>
    </form>
  </div>

  <!-- Plantilla para usuarios autenticados -->
  <ng-template #loggedInTemplate>
    <div>
      <span>Bienvenido, {{ username }}</span>
      <button (click)="logout()" class="ml-4 bg-red-600 hover:bg-red-700 px-4 py-2 rounded">Logout</button>
    </div>
  </ng-template>
</header>
