<div
    class="min-h-screen  dark:bg-gray-900 text-gray-900 dark:text-gray-100 flex flex-col justify-center items-center p-8">
    <h1 class="text-3xl font-bold text-[#99775c] mb-4 dark:text-white text-center">Auditoria del Historial de los Difuntos</h1>
    <div class="container mx-auto p-4">
        <!-- Formulario de Filtros -->
        <div class="flex justify-end mb-4">
            <button (click)="toggleFilters()"
                class="flex items-end gap-2 bg-[#50a2a7] text-white px-4 py-2 rounded-lg shadow-sm hover:bg-[#99775c] dark:bg-[#50a2a7] dark:hover:bg-[#99775c]">
                <img src="assets/image/icono/filter.svg" alt="Icono comparar" class="w-4 h-4" />
            </button>
        </div>
        <!-- Filtros -->
        <div *ngIf="showFilters" class="w-full max-w-4xxl bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-md p-6">
            <h1 class="text-2xl font-bold mb-4 text-[#99775c] dark:text-[#ffffff]">Filtrar Historial de Difuntos</h1>
            <form [formGroup]="filterForm" (ngSubmit)="loadHistorial()" class="space-y-4">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <!-- Campo de entrada para cada atributo con validación -->
                    <div *ngFor="let field of filterFields">
                        <label [for]="field.name"
                            class="block text-sm font-medium mb-2 text-[#99775c] dark:text-[#eae7dd]">
                            {{ field.label }}
                        </label>
                        <!-- Desplegable para campos específicos -->
                        <ng-container [ngSwitch]="field.name">
                            <!-- Selección de Fecha de Inicio -->
                            <input *ngSwitchCase="'start_date'" [id]="field.name" [formControlName]="field.name"
                                type="date"
                                class="w-full px-4 py-2 border border-[#99775c] rounded-lg shadow-sm focus:ring focus:ring-[#50a2a7] focus:border-[#50a2a7] dark:bg-[#2a2b2a] dark:border-[#99775c] text-[#99775c] dark:text-[#eae7dd]" />
                            <!-- Selección de Fecha de Fin -->
                            <input *ngSwitchCase="'end_date'" [id]="field.name" [formControlName]="field.name"
                                type="date"
                                class="w-full px-4 py-2 border border-[#99775c] rounded-lg shadow-sm focus:ring focus:ring-[#50a2a7] focus:border-[#50a2a7] dark:bg-[#2a2b2a] dark:border-[#99775c] text-[#99775c] dark:text-[#eae7dd]" />
                            <!-- Select para Deudo -->
                            <select *ngSwitchCase="'deudo'" [id]="field.name" [formControlName]="field.name"
                                class="w-full px-4 py-2 border border-[#99775c] rounded-lg shadow-sm focus:ring focus:ring-[#50a2a7] focus:border-[#50a2a7] dark:bg-[#2a2b2a] dark:border-[#99775c] text-[#99775c] dark:text-[#eae7dd]">
                                <option *ngFor="let deudo of deudos" [value]="deudo.id">{{ deudo.names }}-{{
                                    deudo.last_names }}</option>
                            </select>
                            <!-- Select para Nombre -->
                            <select *ngSwitchCase="'names'" [id]="field.name" [formControlName]="field.name"
                                class="w-full px-4 py-2 border border-[#99775c] rounded-lg shadow-sm focus:ring focus:ring-[#50a2a7] focus:border-[#50a2a7] dark:bg-[#2a2b2a] dark:border-[#99775c] text-[#99775c] dark:text-[#eae7dd]">
                                <option *ngFor="let difunto of difuntos" [value]="difunto.names">{{ difunto.names }}
                                </option>
                            </select>
                            <!-- Select para Apellido -->
                            <select *ngSwitchCase="'last_names'" [id]="field.name" [formControlName]="field.name"
                                class="w-full px-4 py-2 border border-[#99775c] rounded-lg shadow-sm focus:ring focus:ring-[#50a2a7] focus:border-[#50a2a7] dark:bg-[#2a2b2a] dark:border-[#99775c] text-[#99775c] dark:text-[#eae7dd]">
                                <option *ngFor="let difunto of difuntos" [value]="difunto.last_names">{{
                                    difunto.last_names }}</option>
                            </select>
                            <!-- Select para Tipo de Acción -->
                            <select *ngSwitchCase="'history_type'" [id]="field.name" [formControlName]="field.name"
                                class="w-full px-4 py-2 border border-[#99775c] rounded-lg shadow-sm focus:ring focus:ring-[#50a2a7] focus:border-[#50a2a7] dark:bg-[#2a2b2a] dark:border-[#99775c] text-[#99775c] dark:text-[#eae7dd]">
                                <option *ngFor="let option of filterOptions.history_type" [value]="option.value">
                                    {{ option.label }}
                                </option>
                            </select>
                            <select *ngSwitchCase="'user'" [id]="field.name" [formControlName]="field.name"
                                class="w-full px-4 py-2 border border-[#99775c] rounded-lg shadow-sm focus:ring focus:ring-[#50a2a7] focus:border-[#50a2a7] dark:bg-[#2a2b2a] dark:border-[#99775c] text-[#99775c] dark:text-[#eae7dd]">
                                <option *ngFor="let option of filterOptions.user" [value]="option.value">
                                    {{ option.label }}
                                </option>
                            </select>
                            <!-- Select para Numero de solicitud -->
                            <select *ngSwitchCase="'requestNumber'" [id]="field.name" [formControlName]="field.name"
                                class="w-full px-4 py-2 border border-[#99775c] rounded-lg shadow-sm focus:ring focus:ring-[#50a2a7] focus:border-[#50a2a7] dark:bg-[#2a2b2a] dark:border-[#99775c] text-[#99775c] dark:text-[#eae7dd]">
                                <option *ngFor="let difunto of difuntos" [value]="difunto.requestNumber">{{
                                    difunto.formattedRequest }}</option>
                            </select>
                            <!-- Select para Numero de cedula -->
                            <select *ngSwitchCase="'idNumber'" [id]="field.name" [formControlName]="field.name"
                                class="w-full px-4 py-2 border border-[#99775c] rounded-lg shadow-sm focus:ring focus:ring-[#50a2a7] focus:border-[#50a2a7] dark:bg-[#2a2b2a] dark:border-[#99775c] text-[#99775c] dark:text-[#eae7dd]">
                                <option *ngFor="let difunto of difuntos" [value]="difunto.idNumber">{{
                                    difunto.formattedId }}</option>
                            </select>
                            <!-- Input para otros campos -->
                            <input *ngSwitchDefault [id]="field.name" [formControlName]="field.name" type="text"
                                [placeholder]="field.label"
                                class="w-full px-4 py-2 border border-[#99775c] rounded-lg shadow-sm focus:ring focus:ring-[#50a2a7] focus:border-[#50a2a7] dark:bg-[#2a2b2a] dark:border-[#99775c] text-[#99775c] dark:text-[#eae7dd]" />
                        </ng-container>
                    </div>
                </div>
                <div class="flex justify-end space-x-4">
                    <button type="button" (click)="resetFilters()"
                        class="bg-[#99775c] text-white px-5 py-2 rounded-lg shadow-sm hover:bg-[#50a2a7] dark:bg-[#99775c] dark:hover:bg-[#50a2a7]"
                        [title]="'Refrescar'">
                        <img src="assets\image\icono\refresh-ccw.svg" alt="Icono comparar" class="w-4 h-4 " />
                    </button>
                    <button type="submit"
                        class="bg-[#50a2a7] text-white px-5 py-2 rounded-lg shadow-sm hover:bg-[#99775c] dark:bg-[#50a2a7] dark:hover:bg-[#99775c]"
                        [title]="'Buscar'">
                        <img src="assets\image\icono\search.svg" alt="Icono comparar" class="w-4 h-4 " />
                    </button>
                </div>
            </form>
        </div>
        <!-- Tabla de Historial -->
        <div class="bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-md overflow-x-auto mb-6">
            <app-tabla-generica [headers]="tableHeaders" [data]="historialItems" [keys]="tableKeys"
                [actionTemplate]="actionTemplate"
                class="min-w-full bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-md overflow-hidden text-center">
            </app-tabla-generica>
            <ng-template #actionTemplate let-item>
                <button (click)="restaurarVersion(item.history_id)"
                    class="bg-[#a83232] text-white px-2 py-1 rounded-lg hover:bg-[#8c2929] dark:bg-[#a83232] dark:hover:bg-[#8c2929]"
                    [title]="'Restaurar'">
                    <img src="assets/image/icono/database-restore.svg" alt="Restaurar" class="w-4 h-4" />
                </button>
                <button (click)="compararVersiones(item.id)"
                    class="bg-[#50a2a7] text-white px-2 py-1 rounded-lg hover:bg-[#99775c] dark:bg-[#50a2a7] dark:hover:bg-[#99775c]"
                    [title]="'Comparar'">
                    <img src="assets/image/icono/git-compare.svg" alt="Comparar" class="w-4 h-4" />
                </button>
            </ng-template>
        </div>
        <!-- Paginación -->
        <div class="flex justify-evenly mt-4">
            <button (click)="goToFirstPage()" [disabled]="currentPage === 1"
                class="px-4 py-2 rounded-lg shadow-sm bg-[#50a2a7] text-[#eae7dd] hover:bg-[#99775c] dark:bg-[#50a2a7] dark:hover:bg-[#99775c]"
                [title]="'Primera página'">
                <img src="assets\image\icono\skip-forward.svg" alt="Icono comparar" class="w-4 h-4 rotate-180" />
            </button>
            <button (click)="changePage(-5)" [disabled]="currentPage <= 5"
                class="px-4 py-2 rounded-lg shadow-sm bg-[#50a2a7] text-[#eae7dd] hover:bg-[#99775c] dark:bg-[#50a2a7] dark:hover:bg-[#99775c]"
                [title]="'Retroceder 5'">
                <img src="assets\image\icono\fast-forward.svg" alt="Icono comparar" class="w-4 h-4 rotate-180" />
            </button>
            <button (click)="changePage(-1)" [disabled]="currentPage === 1"
                class="px-4 py-2 rounded-lg shadow-sm bg-[#50a2a7] text-[#eae7dd] hover:bg-[#99775c] dark:bg-[#50a2a7] dark:hover:bg-[#99775c]"
                [title]="'Página anterior'">
                <img src="assets\image\icono\play.svg" alt="Icono comparar" class="w-4 h-4 rotate-180" />
            </button>
            <span class="text-gray-700 dark:text-gray-200">Página {{ currentPage }} de {{ totalPages }}</span>
            <button (click)="changePage(1)" [disabled]="currentPage === totalPages"
                class="px-4 py-2 rounded-lg shadow-sm bg-[#50a2a7] text-[#eae7dd] hover:bg-[#99775c] dark:bg-[#50a2a7] dark:hover:bg-[#99775c]"
                [title]="'Página siguiente'">
                <img src="assets\image\icono\play.svg" alt="Icono comparar" class="w-4 h-4" />
            </button>
            <button (click)="changePage(5)" [disabled]="currentPage + 5 > totalPages"
                class="px-4 py-2 rounded-lg shadow-sm bg-[#50a2a7] text-[#eae7dd] hover:bg-[#99775c] dark:bg-[#50a2a7] dark:hover:bg-[#99775c]"
                [title]="'Avanzar 5'">
                <img src="assets\image\icono\fast-forward.svg" alt="Icono comparar" class="w-4 h-4" />
            </button>
            <button (click)="goToLastPage()" [disabled]="currentPage === totalPages"
                class="px-4 py-2 rounded-lg shadow-sm bg-[#50a2a7] text-[#eae7dd] hover:bg-[#99775c] dark:bg-[#50a2a7] dark:hover:bg-[#99775c]"
                [title]="'Ultima página'">
                <img src="assets\image\icono\skip-forward.svg" alt="Icono comparar" class="w-4 h-4" />
            </button>
        </div>
        <div class="bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-md overflow-x-auto mb-6">
            <div class="flex justify-center pt-6 pb-2">
                <h2 class="text-2xl font-bold text-[#99775c] mb-4 text-[#99775c] dark:text-[#ffffff]">Comparación de Versiones</h2>
            </div>
            <table class="min-w-full bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-md overflow-hidden text-center">
                <thead class="bg-[#eae7dd] dark:bg-[#99775c]">
                    <tr>
                        <th class="px-6 py-3 text-xs font-medium text-[#99775c] dark:text-[#eae7dd] uppercase">
                            Versión ID</th>
                        <th class="px-6 py-3 text-xs font-medium text-[#99775c] dark:text-[#eae7dd] uppercase">
                            Fecha</th>
                        <th class="px-6 py-3 text-xs font-medium text-[#99775c] dark:text-[#eae7dd] uppercase">
                            Campo</th>
                        <th class="px-6 py-3 text-xs font-medium text-[#99775c] dark:text-[#eae7dd] uppercase">
                            Valor Anterior</th>
                        <th class="px-6 py-3 text-xs font-medium text-[#99775c] dark:text-[#eae7dd] uppercase">
                            Valor Actual</th>
                        <th class="px-6 py-3 text-xs font-medium text-[#99775c] dark:text-[#eae7dd] uppercase">
                            Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let version of comparacion">
                        <!-- Fila para cada cambio individual -->
                        <tr *ngFor="let cambio of version.cambios"
                            class="border-b border-gray-200 dark:border-gray-700">
                            <!-- Muestra el ID de la versión y la fecha solo en la primera fila de cada grupo de cambios -->
                            <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100 font-semibold">
                                {{ version.cambios[0] === cambio ? version.version_id : '' }}
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-100 font-semibold">
                                {{ version.cambios[0] === cambio ? version.fecha : '' }}
                            </td>
                            <!-- Campos del cambio específico -->
                            <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">
                                {{ campoLabels[cambio.campo] || cambio.campo }}
                            </td>
                            <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">
                                <ng-container *ngIf="cambio.campo === 'deceased'; else otherContent">
                                    {{ cambio.antes ? obtenerNombreDeudo(cambio.antes) : 'N/A' }}
                                </ng-container>
                                <ng-template #otherContent>
                                    {{ cambio.antes !== null && cambio.antes !== undefined && cambio.antes !== '' ?
                                    cambio.antes : 'N/A' }}
                                </ng-template>
                            </td>
                            <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">
                                <ng-container *ngIf="cambio.campo === 'deceased'; else otherContentAfter">
                                    {{ cambio.despues ? obtenerNombreDeudo(cambio.despues) : 'N/A' }}
                                </ng-container>
                                <ng-template #otherContentAfter>
                                    {{ cambio.despues !== null && cambio.despues !== undefined && cambio.despues !== ''
                                    ?
                                    cambio.despues : 'N/A' }}
                                </ng-template>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <button *ngIf="version.cambios[0] === cambio"
                                    (click)="restaurarVersion(version.version_id)"
                                    class="bg-[#a83232] text-white px-2 py-1 rounded-lg hover:bg-[#8c2929] dark:bg-[#a83232] dark:hover:bg-[#8c2929]"
                                    [title]="'Restaurar'"><img src="assets\image\icono\database-restore.svg"
                                        alt="Icono Restaurar" class="w-4 h-4" />
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>