<section class="flex flex-col items-center p-8 bg-gradient-to-t from-[#eae7dd] to-transparent">
    <!-- Título de la sección -->
    <img src="assets/fotos/nhome/planes.png" alt="" class="max-w-[30%] max-h-[30%] mt-4">
    <p class="text-center max-w-xl mb-8 text-[#99775c]">
        Servicios pensados para honrar y recordar a tus seres queridos.
    </p>

    <!-- Contenedor del carrusel -->
    <div class="relative w-full max-w-7xl overflow-hidden">
        <div class="flex gap-12 snap-x snap-mandatory overflow-x-scroll scrollbar-hide scroll-smooth px-8 py-4">
            <!-- Tarjeta de precio -->
            <div *ngFor="let info of infos"
                class="flex flex-col p-8 bg-[#ffffff] border border-[#99775c] rounded-lg text-center shadow-lg w-[400px] flex-shrink-0">
                <!-- Ícono del plan -->
                <img *ngIf="info.image" [src]="info.image" [alt]="info.title" class="w-16 h-16 mx-auto mb-4">

                <!-- Título del plan -->
                <h3 class="text-xl font-bold mb-4 text-[#2a2b2a]">{{ info.title }}</h3>

                <!-- Precio -->
                <div class="flex items-center justify-center bg-[#eae7dd] p-4 rounded-lg mb-4">
                    <img src="assets/image/icono/price.svg" alt="Price Icon" class="w-4 h-4 mr-2">
                    <span class="text-lg font-bold text-[#2a2b2a]">${{ info.price || 0 }}</span>
                </div>

                <!-- Separador -->
                <div class="border-t border-[#99775c] mb-4"></div>

                <!-- Características -->
                <ul>
                    <h4 class="text-lg font-semibold mb-2 text-[#2a2b2a]">Características del Paquete:</h4>
                    <li *ngFor="let feature of formatFeaturesOrExclusions(info.features)"
                        class="flex items-center gap-2">
                        <img src="assets/image/icono/benefit.svg" alt="Benefit Icon" class="w-4 h-4">
                        <span class="text-sm text-[#99775c]">{{ feature }}</span>
                    </li>
                </ul>

                <!-- Exclusiones -->
                <ul *ngIf="info.exclusions" class="mt-4">
                    <h4 class="text-lg font-semibold mb-2 text-[#2a2b2a]">No incluye:</h4>
                    <li *ngFor="let exclusion of formatFeaturesOrExclusions(info.exclusions)"
                        class="flex items-center gap-2">
                        <img src="assets/image/icono/coin-slash.svg" alt="Exclusion Icon" class="w-4 h-4">
                        <span class="text-sm text-[#99775c]">{{ exclusion }}</span>
                    </li>
                </ul>

                <!-- Botón de acción -->
                <div class="mt-8">
                    <a href="#"
                        class="bg-gradient-to-r from-[#99775c] to-[#50a2a7] text-white py-3 px-6 rounded-lg font-bold hover:from-[#50a2a7] hover:to-[#99775c] transition">
                        Solicitar Ahora
                    </a>
                </div>
            </div>
        </div>

        <!-- Controles -->
        <div class="absolute top-1/2 -translate-y-1/2 left-4 z-10">
            <button
                class="bg-[#99775c] text-white rounded-full p-2 hover:bg-[#50a2a7] transition focus:outline-none focus:ring-2 focus:ring-[#50a2a7] focus:ring-offset-2"
                (click)="scrollCarousel(-1)">
                <img src="assets\image\icono\play-solid.svg" alt="Icono comparar" class="w-4 h-4 sm:w-3 sm:h-3 md:w-4 md:h-4 lg:w-6 lg:h-6 rotate-180" />
            </button>
        </div>
        <div class="absolute top-1/2 -translate-y-1/2 right-4 z-10">
            <button
                class="bg-[#99775c] text-white rounded-full p-2 hover:bg-[#50a2a7] transition focus:outline-none focus:ring-2 focus:ring-[#50a2a7] focus:ring-offset-2"
                (click)="scrollCarousel(1)">
                <img src="assets\image\icono\play-solid.svg" alt="Icono comparar" class="w-4 h-4 sm:w-3 sm:h-3 md:w-4 md:h-4 lg:w-6 lg:h-6" />
            </button>
        </div>
    </div>
</section>