<div class="max-w-md rounded-lg shadow-lg bg-[#ffffff] dark:bg-[#99775c] overflow-hidden">
  <!-- Imagen del Difunto -->
  <img
    *ngIf="obituario.image_dif"
    [src]="obituario.image_dif"
    alt="{{ obituario.name || 'Difunto' }}"
    class="w-full h-48 object-cover"
  />

  <div class="p-4">
    <h2 class="text-lg font-semibold text-[#2a2b2a] dark:text-[#ffffff] mb-2">
      {{ obituario.name || 'Nombre no disponible' }}
    </h2>
    <p class="text-[#99775c] dark:text-[#eae7dd] mb-2">
      {{ obituario.date_born | date: 'mediumDate' }} - {{ obituario.date_dead | date: 'mediumDate' }}
    </p>
    <p *ngIf="obituario.obituary_detail" class="text-[#2a2b2a] dark:text-[#ffffff] mb-4">
      {{ obituario.obituary_detail | slice: 0:100 }}...
    </p>
  </div>
</div>