<div class="container mx-auto px-4 py-6 bg-[#ffffff]">
    <!-- Título -->
    <h1 class="text-3xl font-bold text-center mb-6 text-[#99775c]">Iglesias</h1>

    <div class="flex flex-col lg:flex-row gap-6">
        <!-- Lista de parroquias (filtro) -->
        <div class="lg:w-1/4 h-full bg-white rounded-lg overflow-y-auto" style="max-height: 500px;">
            <div class="mb-6">
                <input type="text" placeholder="Buscar por nombre de iglesia"
                    class="border border-[#99775c] w-full px-4 py-2 rounded-lg focus:ring-[#50a2a7] focus:outline-none"
                    (input)="onSearchInput($event)" />
            </div>
            <h2 class="text-xl font-semibold mb-4 text-[#2a2b2a]">Parroquias</h2>
            <div class="flex flex-col gap-2">
                <button (click)="onParroquiaFilterChange($event, null)"
                    class="block w-full text-left bg-[#ffffff] text-[#99775c] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
                    Todas las parroquias
                </button>
                <button *ngFor="let parroquia of parroquias" (click)="onParroquiaFilterChange($event, parroquia.id)"
                    class="block w-full text-left bg-[#ffffff] text-[#99775c] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
                    {{ parroquia.name }}
                </button>
            </div>
        </div>

        <!-- Lista de iglesias o detalles -->
        <div class="lg:col-span-3 lg:w-3/4">
            <!-- Si hay una iglesia seleccionada, mostrar los detalles -->
            <div *ngIf="iglesiaSeleccionada; else listaIglesias">
                <!-- Contenedor del botón "Volver a la lista" -->
                <div class="flex justify-end mb-4">
                    <button (click)="volverALista()" class="text-[#50a2a7] hover:underline">
                        ← Volver a la lista
                    </button>
                </div>
                <app-iglrsias-infos [iglesia]="iglesiaSeleccionada" modo="detalle"></app-iglrsias-infos>
            </div>
        
            <!-- Lista de iglesias -->
            <ng-template #listaIglesias>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                    <app-iglrsias-infos *ngFor="let iglesia of iglesias" [iglesia]="iglesia" modo="lista"
                        (clickIglesia)="verIglesia($event)"></app-iglrsias-infos>
                </div>
            </ng-template>
        </div>
    </div>
</div>
