<div class="flex space-x-4">
  <!-- Botón para mostrar la edición -->
  <button (click)="mostrarFormularioInfo()"
    class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-blue-700">
    Formulario Paquetes
  </button>
  <!-- Botón para mostrar la edición -->
  <button (click)="mostrarEdicionInfo()"
    class="bg-gray-500 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-gray-600">
    Modificar Paquetes
  </button>
</div>

<div *ngIf="estadoActual === 'formularioInfo'">
  <app-infoForm />
</div>
<div *ngIf="estadoActual === 'edicionInfo'">
  <app-info-editar />
</div>