<div class="flex space-x-4">
    <!-- Botón para mostrar el historial DEUDO -->
    <button (click)=" mostrarHistorialDeudo()"
        class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
        Historial Deudo
    </button>
    <!-- Botón para mostrar el historial DEUDO -->
    <button (click)=" mostrarHistorialDifunto()"
        class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
        Historial Difunto
    </button>
    <!-- Botón para mostrar el historial DEUDO -->
    <button (click)=" mostrarHistorialTumba()"
        class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
        Historial Tumba
    </button>
    <!-- Botón para mostrar el historial DEUDO -->
    <button (click)=" mostrarHistorialLote()"
        class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
        Historial Lote
    </button>
    <!-- Botón para mostrar el historial DEUDO -->
    <button (click)=" mostrarHistorialServicio()"
        class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
        Historial Servicio
    </button>
</div>

<!-- Contenido del Historial deudo-->
<div *ngIf="estadoActual === 'HistorialDeudo'" class=" dark:bg-2a2b2a rounded-lg p-4 shadow-md">
    <app-deudo-historial />
</div>
<!-- Contenido del Historial deudo-->
<div *ngIf="estadoActual === 'HistorialDifunto'"class=" dark:bg-2a2b2a rounded-lg p-4 shadow-md">
    <app-difunto-historial />
</div>
<!-- Contenido del Historial deudo-->
<div *ngIf="estadoActual === 'HistorialTumba'" class=" dark:bg-2a2b2a rounded-lg p-4 shadow-md">
    <app-tumba-historial />
</div>
<!-- Contenido del Historial deudo-->
<div *ngIf="estadoActual === 'HistorialLote'" class=" dark:bg-2a2b2a rounded-lg p-4 shadow-md">
    <app-lote-historial />
</div>
<!-- Contenido del Historial deudo-->
<div *ngIf="estadoActual === 'HistorialSevicio'">
    <app-servicio-historial />
</div>