<div
    class="min-h-screen bg-[#eae7dd] dark:bg-[#2a2b2a] text-[#2a2b2a] dark:text-[#eae7dd] flex flex-col justify-center items-center p-8">

    <h1 class="text-2xl font-bold mb-4 text-center">Reporte de Ocupación por Lotes</h1>
    <div class="container mx-auto p-4">
        <!-- Formulario de Filtros -->
        <div class="w-full flex justify-end mb-4">
            <button (click)="toggleFilters()"
                class="flex items-end gap-2 bg-[#50a2a7] text-[#ffffff] px-4 py-2 rounded-lg shadow-sm hover:bg-[#99775c]">
                <img src="assets/image/icono/filter.svg" alt="Icono comparar" class="w-4 h-4" />
            </button>
        </div>
        <!-- Filtros -->
        <div *ngIf="showFilters" class="w-full bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-md p-6 mb-6">
            <h1 class="text-2xl font-bold mb-4">Búsqueda de Ocupación Actual por Lote</h1>
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="space-y-4">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <!-- Campo de entrada para cada atributo con validación -->
                    <div *ngFor="let field of filterFields">
                        <label [for]="field" class="block text-sm font-medium mb-2 text-[#2a2b2a] dark:text-[#eae7dd]">
                            {{ field.label }}
                        </label>
                        <input [id]="field.name" [formControlName]="field.name" type="text" [placeholder]="field.label"
                            class="w-full px-4 py-2 border border-[#99775c] rounded-lg shadow-sm focus:ring focus:ring-[#50a2a7] focus:border-[#50a2a7] dark:bg-[#2a2b2a] dark:border-[#eae7dd] dark:text-[#eae7dd]" />
                    </div>
                </div>
                <div class="flex justify-end space-x-4">
                    <button type="button" (click)="resetFilters()"
                        class="bg-[#99775c] text-[#ffffff] px-4 py-2 rounded-lg shadow-sm hover:bg-[#50a2a7]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
                        </svg>
                    </button>
                    <button type="submit"
                        class="bg-[#50a2a7] text-[#ffffff] px-4 py-2 rounded-lg shadow-sm hover:bg-[#99775c]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        <div class="container mx-auto p-4 rounded mb-6">
            <!-- Botón para alternar el tipo de gráfico -->
            <div class="container mx-auto p-4 bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-lg mb-6">
                <h2 class="text-2xl font-bold mb-4 text-[#2a2b2a] dark:text-[#eae7dd]">Gráfico de Ocupación Actual por Lote
                </h2>
                <div class="flex justify-end mb-4">
                    <button (click)="toggleChartType()"
                        class="p-2 bg-[#50a2a7] text-[#ffffff] rounded-lg hover:bg-[#99775c]">
                        Cambiar a {{ chartType === 'pie' ? 'Gráfico de Barras' : 'Gráfico Circular' }}
                    </button>
                </div>
                <!-- Gráfico de ocupación -->
                <apx-chart *ngIf="chartOptions" [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [labels]="chartOptions.labels" [xaxis]="chartOptions.xaxis" [dataLabels]="chartOptions.dataLabels"
                    [plotOptions]="chartOptions.plotOptions">
                </apx-chart>
            </div>
            <!-- Tabla de datos de ocupación -->
            <div class="w-full max-w-6xl mx-auto bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-md p-6">
                <h2 class="text-2xl font-bold mb-4 text-center text-[#2a2b2a] dark:text-[#eae7dd]">Tabla de Ocupación Actual
                    por Lote</h2>
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-md text-center">
                        <thead>
                            <tr>
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-[#2a2b2a] dark:text-[#eae7dd] uppercase">
                                    Número de Lote</th>
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-[#2a2b2a] dark:text-[#eae7dd] uppercase">
                                    Tipo de Bloque</th>
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-[#2a2b2a] dark:text-[#eae7dd] uppercase">
                                    Número de Bloque</th>
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-[#2a2b2a] dark:text-[#eae7dd] uppercase">
                                    Ocupadas</th>
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-[#2a2b2a] dark:text-[#eae7dd] uppercase">
                                    Disponibles</th>
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-[#2a2b2a] dark:text-[#eae7dd] uppercase">
                                    Total</th>
                                <th
                                    class="px-6 py-3 text-left text-xs font-medium text-[#2a2b2a] dark:text-[#eae7dd] uppercase">
                                    Ocupación (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lotesOcupacion"
                                class="border-b border-[#99775c] dark:border-[#eae7dd]">
                                <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">{{ item.blockName }}</td>
                                <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">{{ item.typeblock }}</td>
                                <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">{{ item.numbersblock }}</td>
                                <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">{{ item.ocupadas }}</td>
                                <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">{{ item.disponibles }}</td>
                                <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">{{ item.limite }}</td>
                                <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">
                                    {{ ((item.ocupadas / item.limite) * 100).toFixed(2) }}%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
