<div class="flex space-x-4">
  <!-- Botón para mostrar el formulario -->
  <button (click)="mostrarFormularioTumba()"
    class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
    Formulario Tumba
  </button>

  <!-- Botón para mostrar el formulario -->
  <button (click)="mostrarFormularioLote()"
    class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
    Manejar Lote
  </button>
  <!-- Botón para mostrar el Edicion -->
  <button (click)="mostrarEdicionTumba()"
    class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
    Edicion Tumba
  </button>

</div>
<!-- Contenido del formulario -->
<div *ngIf="estadoActual === 'formularioTumba'"  class=" dark:bg-2a2b2a rounded-lg p-4 shadow-md">
  <app-tumbaForm />
  <hr>
</div>

<!-- Contenido de edición -->
<div *ngIf="estadoActual === 'edicionTumba'"  class=" dark:bg-2a2b2a rounded-lg p-4 shadow-md">
  <app-tumba-editar />
</div>

<!-- Contenido del formulario -->
<div *ngIf="estadoActual === 'formularioLote'"  class=" dark:bg-2a2b2a rounded-lg p-4 shadow-md">
  <app-loteForm />
  <hr>
</div>

