<div class="flex space-x-4">
    <!-- Botón para mostrar el formulario -->
    <button (click)="mostrarFormularioDifunto()"
      class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-blue-700">
      Formulario Difunto
    </button>
    <!-- Botón para mostrar el formulario -->
    <button (click)="mostrarFormularioDeudo()"
      class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-blue-700">
      Formulario Deudo
    </button>
  
    <!-- Botón para mostrar la edición -->
    <button (click)="mostrarEdicion()"
      class="bg-gray-500 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-gray-600">
      Modificar Difunto
    </button>
     <!-- Botón para mostrar la edición -->
     <button (click)="mostrarReporte()"
     class="bg-gray-500 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-gray-600">
     Reporte Difunto
   </button>
  </div>
  
  <!-- Contenido del formulario -->
  <div *ngIf="mostrarFormularioDifuntoDiv">
    <app-difuntoForm/>
  </div>
  <!-- Contenido del formulario -->
  <div *ngIf="mostrarFormularioDeudoDiv">
    <app-deudoForm/>
  </div>
  
  <!-- Contenido de edición -->
  <div *ngIf="mostrarEdicionDiv">
    <app-difunto-editar/>
  </div>

  <!-- Contenido de edición -->
  <div *ngIf="mostrarReporteDiv">
    <app-difunto-reporte/>
  </div>
