<div class="flex space-x-4">
  <!-- Botón para mostrar el formulario -->
  <button (click)="mostrarFormularioDifunto()"
    class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
    Formulario Difunto
  </button>
  <!-- Botón para mostrar el formulario -->
  <button (click)="mostrarFormularioDeudo()"
    class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
    Formulario Deudo
  </button>

  <!-- Botón para mostrar la edición -->
  <button (click)="mostrarEdicionDifunto()"
    class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
    Modificar Difunto
  </button>
  <!-- Botón para mostrar la edición -->
  <button (click)="mostrarEdicionDeudo()"
    class=" text-left bg-[#ffffff] text-[#99775c] border border-[#50a2a7] px-4 py-2 rounded-lg hover:bg-[#50a2a7] hover:text-[#ffffff] transition">
    Modificar Deudo
  </button>

</div>

<div *ngIf="estadoActual === 'formularioDeudo'" class=" dark:bg-2a2b2a rounded-lg p-4 shadow-md">
  <app-deudoForm></app-deudoForm>
</div>
<div *ngIf="estadoActual === 'formularioDifunto'" class=" dark:bg-2a2b2a rounded-lg p-4 shadow-md">
  <app-difuntoForm></app-difuntoForm>
</div>
<div *ngIf="estadoActual === 'edicionDifunto'" class=" dark:bg-2a2b2a rounded-lg p-4 shadow-md">
  <app-difunto-editar></app-difunto-editar>
</div>
<div *ngIf="estadoActual === 'edicionDeudo'" class=" dark:bg-2a2b2a rounded-lg p-4 shadow-md">
  <app-deudo-editar></app-deudo-editar>
</div>
