<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center p-6 bg-black/60 rounded-lg shadow-lg max-w-5xl mx-auto">
  <!-- Formulario -->
  <div class="space-y-6">
    <form (ngSubmit)="onSubmit()" #notificationForm="ngForm" class="space-y-4">
      <div class="form-group">
        <label for="name" class="block text-sm text-[#FFFFFF]"></label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="notification.name"
          required
          class="form-control w-full p-2 bg-transparent border border-gray-300 text-[#FFFFFF] rounded-md focus:outline-none focus:ring-2 focus:ring-[#FFFFFF]"
          placeholder="NOMBRE Y APELLIDO"
        />
      </div>

      <div class="form-group">
        <label for="contact_number" class="block text-sm text-[#FFFFFF]"></label>
        <input
          type="text"
          id="contact_number"
          name="contact_number"
          [(ngModel)]="notification.contact_number"
          required
          class="form-control w-full p-2 bg-transparent border border-gray-300 text-[#FFFFFF] rounded-md focus:outline-none focus:ring-2 focus:ring-[#FFFFFF]"
          placeholder="TELEFONO"
        />
      </div>

      <div class="form-group">
        <label for="email" class="block text-sm text-[#FFFFFF]"></label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="notification.email"
          class="form-control w-full p-2 bg-transparent border border-gray-300 text-[#FFFFFF] rounded-md focus:outline-none focus:ring-2 focus:ring-[#FFFFFF]"
          placeholder="EMAIL"
        />
      </div>

      <div class="form-group">
        <label for="area" class="block text-sm text-[#FFFFFF] justify-start"></label>
        <select
          id="area"
          name="area"
          [(ngModel)]="notification.area"
          required
          class="form-control w-full p-2 bg-transparent border border-gray-300  rounded-md focus:outline-none focus:ring-2 focus:ring-[#FFFFFF]"
          placeholder="ÁREA"
        >
          <option value="correccion_datos">Corrección de Datos</option>
          <option value="soporte">Soporte Técnico</option>
          <option value="paquetes">Información de Paquetes</option>
        </select>
      </div>

      <div class="form-group">
        <label for="message" class="block text-sm text-[#FFFFFF]"></label>
        <textarea
          id="message"
          name="message"
          [(ngModel)]="notification.message"
          required
          class="form-control w-full p-2 bg-transparent border border-gray-300 text-[#FFFFFF] rounded-md focus:outline-none focus:ring-2 focus:ring-[#FFFFFF]"
          placeholder="MENSAJE"
        ></textarea>
      </div>

      <button
        type="submit"
        class=" w-full bg-white item-center text-black px-6 py-2 rounded-md shadow-md hover:bg-[#FFC857] hover:text-black transition duration-300"
        [disabled]="notificationForm.invalid"
      >
        Enviar
      </button>
    </form>
  </div>

  <!-- Números de contacto -->
  <div class="space-y-6 text-[#FFFFFF] text-center md:text-left">
    <div class="flex items-center">
      <img src="assets/image/icono/telefonos-removebg-preview.png" alt="Teléfono" class="w-90 h-80"> <!-- Tamaño aumentado -->
    </div>
  </div>  
</div>
