<aside class="w-64 bg-gray-800 text-white p-4">
    <nav>
      <h3 class="font-bold text-lg mb-4">Panel Admin</h3>
      <ul>
        <li class="mb-2">
          <a routerLink="/admin/disponibilidad" class="block hover:bg-gray-700 p-2">Consulta de Tumba</a>
        </li>
        <li class="mb-2">
          <a routerLink="/admin/dashboard" class="block hover:bg-gray-700 p-2">dashboard</a>
        </li>
        <li class="mb-2">
          <!-- Enlace que alterna la visibilidad de las subcategorías -->
          <button (click)="toggleCementerio()" class="block hover:bg-gray-700 p-2 text-left w-full">
            Cementerio
          </button>
        
          <!-- Subcategorías de Cementerio -->
          <ul *ngIf="isCementerioOpen" class="ml-4">
            <li><a routerLink="/admin/servicio" class="block p-1 hover:underline">Servicio</a></li>
            <li><a routerLink="/admin/difunto" class="block p-1 hover:underline">Difunto</a></li>
            <li><a routerLink="/admin/tumba" class="block p-1 hover:underline">Tumba</a></li>
          </ul>
        </li>
        <li class="mb-2">
          <!-- Enlace que alterna la visibilidad de las subcategorías -->
          <button (click)="toggleInformativo()" class="block hover:bg-gray-700 p-2 text-left w-full">
            Informativo
          </button>
          <!-- Subcategorías de Informativo -->
          <ul *ngIf="isInformativoOpen" class="ml-4">
            <li><a routerLink="/admin/obituario" class="block p-1 hover:underline">Obituario</a></li>
            <li></li>
            <li><a routerLink="/admin/articulo" class="block p-1 hover:underline">Artículo/guia</a></li>
            <li><a routerLink="/admin/guia" class="block p-1 hover:underline">Paquetes</a></li>
            <li><a routerLink="/admin/info" class="block p-1 hover:underline">Iglesia</a></li>
          </ul>
        </li>
        <li class="mb-2">
            <a routerLink="/admin/iglesia" class="block hover:bg-gray-700 p-2 text-left w-full">Reportes</a>
        </li>
        <li class="mb-2">
          <a routerLink="/admin/historial" class="block hover:bg-gray-700 p-2 text-left w-full">Historial</a>
        </li>
      </ul>
    </nav>
  </aside>