<div class="flex space-x-4">
  <!-- Botón para mostrar el formulario -->
  <button (click)="mostrarReporteServicio()"
    class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-blue-700">
    Reporte Servicio
  </button>
  <button (click)="mostrarReporteTumba()"
    class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-blue-700">
    Reporte Tumba
  </button>
  <button (click)="mostrarReporteDifunto()"
    class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-blue-700">
    Reporte Difunto
  </button>
  <button (click)="mostrarReporteLote()"
    class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm hover:bg-blue-700">
    Reporte Servicio
  </button>
  
</div>

<div *ngIf="estadoActual === 'reporteServicio'">
  <app-servicio-reporte />
</div>
<div *ngIf="estadoActual === 'reporteTumba'">
  <app-tumba-reporte />
</div>
<div *ngIf="estadoActual === 'reporteDifunto'">
  <app-difunto-reporte />
</div>
<div *ngIf="estadoActual === 'reporteLote'">
  <app-lote-reporte />
</div>
