<div class="w-full h-screen bg-gradient-to-t from-[#eae7dd] flex flex-col justify-start">
    <div class="flex justify-center items-center py-4">
        <div class="flex justify-center mt-4">
            <input type="text" [(ngModel)]="nombreCompleto" placeholder="Ingresa el nombre completo del difunto"
                class="border border-gray-400 rounded p-2 w-96" />
            <button (click)="buscarDifunto()" class="ml-4 bg-blue-500 text-white px-4 py-2 rounded">
                Buscar
            </button>
        </div>
    </div>
    <!-- Título -->
    <div class="w-full text-center py-4">
        <h1 class="text-4xl font-bold text-[#99775c] dark:text-[#eae7dd]">
            Cementerio del Condado
        </h1>
    </div>
    <div class="flex flex-col items-center justify-center">
        <div class="px-9"></div>
        <div class="flex w-full h-full justify-between p-5">
            <!-- Contenedor del SVG -->
            <div class="svg-container w-full h-full flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 771.62 438.89" preserveAspectRatio="xMidYMid meet"
                    class="w-full h-full max-w-5xl max-h-[90vh]">
                    <g transform="rotate(90, 385.81, 385.81)">
                        <g id="LotesTitulo">
                            <g id="lotess">
                                <!-- Rectángulos de los lotes -->
                                <rect class="cls-10" x="32.53" y="659" width="172.05" height="111.83" />
                                <rect class="cls-10" x="32.53" y="585.88" width="169.59" height="73.12" />
                                <rect class="cls-10" x="32.53" y="474.05" width="169.59" height="111.83" />
                                <rect class="cls-10" x="235.73" y="474.19" width="154.84" height="90.32" />
                                <rect class="cls-10" x="32.53" y="383.72" width="154.84" height="90.32" />
                                <rect class="cls-10" x="235.73" y="383.72" width="154.84" height="90.32" />
                                <rect class="cls-10" x="32.53" y="280.35" width="146.24" height="103.23" />
                                <rect class="cls-10" x="235.73" y="280.35" width="154.84" height="103.23" />
                                <rect class="cls-10" x="32.53" y="181.42" width="133.34" height="98.93" />
                                <rect class="cls-10" x="240.03" y="181.42" width="150.54" height="98.93" />
                                <rect class="cls-10" x="32.53" y="56.68" width="124.73" height="124.73" />
                                <rect class="cls-10" x="261.53" y="56.68" width="129.04" height="124.73" />
                                <rect class="cls-10" x="235.73" y="564.66" width="154.84" height="206.46" />
                            </g>
                            <g id="Numeracion">
                                <!-- Números dentro de los lotes -->
                                <text class="cls-6" transform="translate(422.58 519.35) rotate(270)">
                                    <tspan x="0" y="0">4</tspan>
                                </text>
                                <text class="cls-6" transform="translate(10.64 428.88) rotate(270)">
                                    <tspan x="0" y="0">5</tspan>
                                </text>
                                <text class="cls-6" transform="translate(10.64 332.13) rotate(270)">
                                    <tspan x="0" y="0">7</tspan>
                                </text>
                                <text class="cls-6" transform="translate(10.64 230.88) rotate(270)">
                                    <tspan x="0" y="0">9</tspan>
                                </text>
                                <text class="cls-6" transform="translate(422.81 429.05) rotate(270)">
                                    <tspan x="0" y="0">6</tspan>
                                </text>
                                <text class="cls-6" transform="translate(422.81 331.96) rotate(270)">
                                    <tspan x="0" y="0">8</tspan>
                                </text>
                                <text class="cls-6" transform="translate(423.32 230.88) rotate(270)">
                                    <tspan x="0" y="0">10</tspan>
                                </text>
                                <text class="cls-6" transform="translate(10.64 119.05) rotate(270)">
                                    <tspan x="0" y="0">11</tspan>
                                </text>
                                <text class="cls-6" transform="translate(423.32 119.05) rotate(270)">
                                    <tspan x="0" y="0">12</tspan>
                                </text>
                                <text class="cls-6" transform="translate(10.64 714.91) rotate(-90)">
                                    <tspan x="0" y="0">1</tspan>
                                </text>
                                <text class="cls-6" transform="translate(10.64 622.44) rotate(-90)">
                                    <tspan x="0" y="0">2</tspan>
                                </text>
                                <text class="cls-6" transform="translate(10.64 529.96) rotate(-90)">
                                    <tspan x="0" y="0">3</tspan>
                                </text>
                            </g>
                        </g>
                        <g *ngFor="let lote of ocupacionLote">
                            <g (click)="verDetallesBloque(lote.id)"
                                class="cursor-pointer hover:opacity-80 transition-opacity duration-200">
                                <!-- Rectángulo del lote -->
                                <rect [ngClass]="getFillColor(lote.id)" [attr.x]="lote.x" [attr.y]="lote.y"
                                    [attr.width]="getBlockSize(lote.typeblock).width"
                                    [attr.height]="getBlockSize(lote.typeblock).height"
                                    [attr.transform]="getTransform(lote)"></rect>

                                <!-- Texto dentro del lote -->
                                <text class="cls-7" [attr.transform]="getTextTransform(lote)">
                                    <tspan x="0" y="0">{{ lote.typeblock }}</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div *ngIf="loteSeleccionado" class="modal-content">
                <h3>Detalles del Lote {{ loteSeleccionado.id }}</h3>
                <div class="grid" [style.gridTemplateColumns]="'repeat(' + columnas + ', 1fr)'">
                    <!-- Iterar sobre las tumbas del lote -->
                    <div class="nicho" *ngFor="let tumba of tumbasEstado">
                        <!-- Imagen solo para tumbas ocupadas -->
                        <div *ngIf="!tumba.available">
                            <img src="assets/fotos/vela.svg" alt="Tumba ocupada" class="icono" />
                        </div>

                        <!-- Número de la tumba -->
                        <p class="tumba-id" [ngClass]="{'disponible-text': tumba.available}">
                            {{ getNichoDisplayText(tumba) }}
                        </p>

                        <!-- Información adicional solo para tumbas ocupadas -->
                        <p *ngIf="!tumba.available">
                            {{ getDifuntoFirstName(tumba.difunto) }} {{ getDifuntoLastName(tumba.difunto) }}
                          </p>
                        <p *ngIf="!tumba.available">
                            {{ getShortDate(tumba.servicio[0].startDate) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>