* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
}

.left-column, .middle-column, .right-column {
    padding: 20px;
}

.left-column {
    width: 25%; /* Ajusta según lo necesites */
    background-color: #f8f8f8;
}

.middle-column {
    width: 50%; /* Ajusta según lo necesites */
    background-color: #ffffff;
}

.right-column {
    width: 25%; /* Ajusta según lo necesites */
    background-color: #f8f8f8;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.svg-container {
    text-align: center; /* Centrar el SVG */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Espacio entre los elementos del grid */
}

.grid-item {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

::ng-deep .cls-1 {
    letter-spacing: 0em;
}

::ng-deep .cls-2 {
    letter-spacing: .01em;
}

::ng-deep .cls-3 {
    letter-spacing: 0em;
}

::ng-deep .cls-4 {
    letter-spacing: 0em;
}

::ng-deep .cls-5 {
    font-family: AcuminVariableConcept, 'Acumin Variable Concept';
    font-size: 27.31px;
    font-variation-settings: 'wght' 194, 'wdth' 100, 'slnt' 0;
}

::ng-deep .cls-5,
::ng-deep .cls-6,
::ng-deep .cls-7 {
    fill: #1d1d1b;
}

::ng-deep .cls-8 {
    letter-spacing: 0em;
}

::ng-deep .cls-6 {
    font-size: 15.17px;
}

::ng-deep .cls-6,
::ng-deep .cls-7 {
    font-family: MyriadPro-Regular, 'Myriad Pro';
}

::ng-deep .cls-9 {
    letter-spacing: 0em;
}

::ng-deep .cls-10 {
    fill: #fff;
}

::ng-deep .cls-10,
::ng-deep .cls-11 {
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

::ng-deep .cls-7 {
    font-size: 9.1px;
    opacity: .2;
}

::ng-deep .cls-12 {
    letter-spacing: 0em;
}

::ng-deep .cls-13 {
    letter-spacing: .01em;
}

::ng-deep .cls-11 {
    fill: none;
}
/* Estilos de ocupación personalizados */
.grid-container {
    display: grid;
    gap: 5px;
  }
  
  .block-empty {
    fill: lightgreen;
  }
  
  .block-partial {
    fill: lightyellow;
  }
  
  .block-full {
    fill: lightcoral;
  }
  
  .highlighted {
    border: 2px solid blue;
  }
  .available {
    background-color: lightgreen;;
  }
  
  .unavailable {
    background-color: gray;
  }