<div>
    <!-- Barra de búsqueda
    <input [(ngModel)]="searchTerm" placeholder="Buscar por nombre o cédula" />
    <button (click)="searchDifunto()">Buscar</button> -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 438.89 771.62">
        <g id="LotesTitulo">
            <g id="lotess">
                <rect class="cls-10" x="32.53" y="659" width="172.05" height="111.83" />
                <rect class="cls-10" x="32.53" y="585.88" width="169.59" height="73.12" />
                <rect class="cls-10" x="32.53" y="474.05" width="169.59" height="111.83" />
                <rect class="cls-10" x="235.73" y="474.19" width="154.84" height="90.32" />
                <rect class="cls-10" x="32.53" y="383.72" width="154.84" height="90.32" />
                <rect class="cls-10" x="235.73" y="383.72" width="154.84" height="90.32" />
                <rect class="cls-10" x="32.53" y="280.35" width="146.24" height="103.23" />
                <rect class="cls-10" x="235.73" y="280.35" width="154.84" height="103.23" />
                <rect class="cls-10" x="32.53" y="181.42" width="133.34" height="98.93" />
                <rect class="cls-10" x="240.03" y="181.42" width="150.54" height="98.93" />
                <rect class="cls-10" x="32.53" y="56.68" width="124.73" height="124.73" />
                <rect class="cls-10" x="261.53" y="56.68" width="129.04" height="124.73" />
                <rect class="cls-10" x="235.73" y="564.66" width="154.84" height="206.46" />
            </g>
            <g id="Numeracion">
                <text class="cls-6" transform="translate(422.58 519.35)">
                    <tspan x="0" y="0">4</tspan>
                </text>
                <text class="cls-6" transform="translate(.64 428.88)">
                    <tspan x="0" y="0">5</tspan>
                </text>
                <text class="cls-6" transform="translate(.64 332.13)">
                    <tspan x="0" y="0">7</tspan>
                </text>
                <text class="cls-6" transform="translate(1.27 230.88)">
                    <tspan x="0" y="0">9</tspan>
                </text>
                <text class="cls-6" transform="translate(422.81 429.05)">
                    <tspan x="0" y="0">6</tspan>
                </text>
                <text class="cls-6" transform="translate(422.81 331.96)">
                    <tspan x="0" y="0">8</tspan>
                </text>
                <text class="cls-6" transform="translate(423.32 230.88)">
                    <tspan x="0" y="0">10</tspan>
                </text>
                <text class="cls-6" transform="translate(1.27 119.05)">
                    <tspan x="0" y="0">11</tspan>
                </text>
                <text class="cls-6" transform="translate(423.32 119.05)">
                    <tspan x="0" y="0">12</tspan>
                </text>
                <text class="cls-6" transform="translate(0 714.91)">
                    <tspan x="0" y="0">1</tspan>
                </text>
                <text class="cls-6" transform="translate(.64 622.44)">
                    <tspan x="0" y="0">2</tspan>
                </text>
                <text class="cls-6" transform="translate(0 529.96)">
                    <tspan x="0" y="0">3</tspan>
                </text>
            </g>
            <g id="Cementerio">
                <text class="cls-5" transform="translate(25.89 23.24)">
                    <tspan class="cls-9" x="0" y="0">C</tspan>
                    <tspan x="18.54" y="0">E</tspan>
                    <tspan class="cls-9" x="34.47" y="0">M</tspan>
                    <tspan x="58.12" y="0">E</tspan>
                    <tspan class="cls-8" x="74.04" y="0">N</tspan>
                    <tspan class="cls-4" x="94.34" y="0">TE</tspan>
                    <tspan class="cls-3" x="124.95" y="0">R</tspan>
                    <tspan x="142.24" y="0">IO DEL </tspan>
                    <tspan class="cls-13" x="233.74" y="0">C</tspan>
                    <tspan class="cls-12" x="252.31" y="0">O</tspan>
                    <tspan class="cls-2" x="272.57" y="0">N</tspan>
                    <tspan class="cls-1" x="292.95" y="0">D</tspan>
                    <tspan x="312.18" y="0">ADO</tspan>
                </text>
            </g>
        </g>
        <g id="Lote_1">
            <g id="piso2_x5F_1">
                <g>
                    <rect class="cls-11" x="159.74" y="703.36" width="34.41" height="9.46" />
                    <text class="cls-7" transform="translate(175.19 711.23)">
                        <tspan x="0" y="0">A</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="105.97" y="703.36" width="34.41" height="9.46" />
                    <text class="cls-7" transform="translate(121.43 711.23)">
                        <tspan x="0" y="0">A</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="158.58" y="676.3" width="34.41" height="9.46" />
                    <text class="cls-7" transform="translate(174.03 684.17)">
                        <tspan x="0" y="0">A</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="104.81" y="676.3" width="34.41" height="9.46" />
                    <text class="cls-7" transform="translate(120.27 684.17)">
                        <tspan x="0" y="0">A</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="101.88" y="732.34" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(119.71 740.96)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="50.95" y="714.71" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(68.78 723.34)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="155.46" y="732.34" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(173.29 740.96)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="49.47" y="749.18" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(67.3 757.8)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
            </g>
            <g id="piso_1_x5F_1">
                <g>
                    <rect class="cls-11" x="44.97" y="726.28" width="53.76" height="10.75" />
                    <text class="cls-7" transform="translate(68.19 735.02)">
                        <tspan x="0" y="0">G</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="43.49" y="759.93" width="53.76" height="10.75" />
                    <text class="cls-7" transform="translate(66.7 768.68)">
                        <tspan x="0" y="0">G</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="150.85" y="743.8" width="53.76" height="10.75" />
                    <text class="cls-7" transform="translate(174.06 752.55)">
                        <tspan x="0" y="0">G</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="97.21" y="743.8" width="53.76" height="10.75" />
                    <text class="cls-7" transform="translate(120.42 752.55)">
                        <tspan x="0" y="0">G</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="155.4" y="686.6" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(173.23 695.23)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="97.08" y="712.91" width="53.76" height="10.75" />
                    <text class="cls-7" transform="translate(120.3 721.66)">
                        <tspan x="0" y="0">G</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="150.85" y="712.91" width="53.76" height="10.75" />
                    <text class="cls-7" transform="translate(174.06 721.66)">
                        <tspan x="0" y="0">G</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="16.82" y="718.29" width="42.58" height="10.75"
                        transform="translate(761.78 685.56) rotate(90)" />
                    <text class="cls-7" transform="translate(34.86 720.21) rotate(90)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="16.82" y="675.9" width="42.58" height="10.75"
                        transform="translate(719.39 643.17) rotate(90)" />
                    <text class="cls-7" transform="translate(34.86 677.81) rotate(90)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="101.64" y="686.6" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(119.47 695.23)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="34.99" y="675.9" width="42.58" height="10.75"
                        transform="translate(737.56 624.99) rotate(90)" />
                    <text class="cls-7" transform="translate(53.04 677.81) rotate(90)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="150.85" y="760.08" width="53.76" height="10.75" />
                    <text class="cls-7" transform="translate(174.06 768.82)">
                        <tspan x="0" y="0">G</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="97.14" y="760.08" width="53.76" height="10.75" />
                    <text class="cls-7" transform="translate(120.36 768.82)">
                        <tspan x="0" y="0">G</tspan>
                    </text>
                </g>
            </g>
            <g id="PB_x5F_1">
                <g>
                    <rect class="cls-11" x="108" y="659.99" width="85.59" height="9.46" />
                    <text class="cls-7" transform="translate(149.78 668.02)">
                        <tspan x="0" y="0">J</tspan>
                    </text>
                </g>
            </g>
        </g>
        <g id="Lote2">
            <g id="piso1_x5F_2">
                <g>
                    <rect class="cls-11" x="54.09" y="602.68" width="42.58" height="10.75"
                        transform="translate(683.44 532.67) rotate(90)" />
                    <text class="cls-7" transform="translate(72.14 604.6) rotate(90)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="16.82" y="602.68" width="42.58" height="10.75"
                        transform="translate(646.17 569.95) rotate(90)" />
                    <text class="cls-7" transform="translate(34.86 604.6) rotate(90)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="34.73" y="602.68" width="42.58" height="10.75"
                        transform="translate(664.08 552.03) rotate(90)" />
                    <text class="cls-7" transform="translate(52.78 604.6) rotate(90)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
            </g>
            <g id="PB_x5F_2">
                <g>
                    <rect class="cls-11" x="108" y="589.87" width="85.59" height="19.36" />
                    <text class="cls-7" transform="translate(149.1 602.6)">
                        <tspan x="0" y="0">L</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="108" y="612.99" width="85.59" height="19.36" />
                    <text class="cls-7" transform="translate(149.1 625.72)">
                        <tspan x="0" y="0">L</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="108" y="636.11" width="85.59" height="19.36" />
                    <text class="cls-7" transform="translate(149.1 648.84)">
                        <tspan x="0" y="0">L</tspan>
                    </text>
                </g>
            </g>
        </g>
        <g id="Lote3">
            <g id="PB_x5F_3">
                <g>
                    <rect class="cls-11" x="108" y="505.91" width="85.59" height="19.36" />
                    <text class="cls-7" transform="translate(149.1 518.65)">
                        <tspan x="0" y="0">L</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="108" y="531.9" width="85.59" height="19.36" />
                    <text class="cls-7" transform="translate(149.1 544.63)">
                        <tspan x="0" y="0">L</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="108" y="555.23" width="85.59" height="26.67" />
                    <text class="cls-7" transform="translate(147.14 570.82)">
                        <tspan x="0" y="0">M</tspan>
                    </text>
                </g>
            </g>
            <g id="piso1_x5F_3">
                <g>
                    <rect class="cls-11" x="159.38" y="474.53" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(177.21 483.16)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="117.34" y="474.53" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(135.17 483.16)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="74.63" y="474.53" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(92.46 483.16)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="32.67" y="474.53" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(50.5 483.16)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="159.4" y="490.49" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(177.23 499.12)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="117.36" y="490.49" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(135.19 499.12)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="74.65" y="490.49" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(92.48 499.12)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="32.69" y="490.49" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(50.52 499.12)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
            </g>
            <g id="piso2_x5F_3">
                <g>
                    <rect class="cls-10" x="151.12" y="483.14" width="26.67" height="9.46"
                        transform="translate(652.32 323.42) rotate(90)" />
                    <text class="cls-7" transform="translate(161.15 485.61) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="141.88" y="483.14" width="26.67" height="9.46"
                        transform="translate(643.08 332.65) rotate(90)" />
                    <text class="cls-7" transform="translate(151.91 485.61) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="109.08" y="483.14" width="26.67" height="9.46"
                        transform="translate(610.28 365.46) rotate(90)" />
                    <text class="cls-7" transform="translate(119.11 485.61) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="99.15" y="483.14" width="26.67" height="9.46"
                        transform="translate(600.35 375.38) rotate(90)" />
                    <text class="cls-7" transform="translate(109.19 485.61) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="67.03" y="483.14" width="26.67" height="9.46"
                        transform="translate(568.24 407.5) rotate(90)" />
                    <text class="cls-7" transform="translate(77.07 485.61) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="57.57" y="483.14" width="26.67" height="9.46"
                        transform="translate(558.77 416.96) rotate(90)" />
                    <text class="cls-7" transform="translate(67.61 485.61) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="23.73" y="483.14" width="26.67" height="9.46"
                        transform="translate(524.93 450.8) rotate(90)" />
                    <text class="cls-7" transform="translate(33.76 485.61) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="184.23" y="483.14" width="26.67" height="9.46"
                        transform="translate(685.43 290.3) rotate(90)" />
                    <text class="cls-7" transform="translate(194.27 485.61) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
            </g>
        </g>
        <g id="Lote4">
            <g id="PB_x5F_4">
                <g>
                    <rect class="cls-11" x="284.67" y="506.74" width="85.59" height="26.67" />
                    <text class="cls-7" transform="translate(323.81 522.33)">
                        <tspan x="0" y="0">M</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="284.67" y="539.53" width="85.59" height="9.46" />
                    <text class="cls-7" transform="translate(326.44 547.57)">
                        <tspan x="0" y="0">J</tspan>
                    </text>
                </g>
            </g>
            <g id="piso1_x5F_4">
                <g>
                    <rect class="cls-11" x="321.02" y="490.04" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(338.85 498.66)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="321.02" y="474.13" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(338.85 482.75)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="278.44" y="490.04" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(296.27 498.66)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="278.44" y="474.08" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(296.27 482.7)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="235.86" y="490.04" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(253.69 498.66)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="235.86" y="474.08" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(253.69 482.7)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="235.73" y="553.88" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(253.56 562.5)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="235.73" y="537.53" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(253.56 546.15)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="278.31" y="553.88" width="76.99" height="10.75" />
                    <text class="cls-7" transform="translate(314.95 562.98)">
                        <tspan x="0" y="0">F</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="358.31" y="495.67" width="53.76" height="10.75"
                        transform="translate(886.24 115.85) rotate(90)" />
                    <text class="cls-7" transform="translate(381.97 497.71) rotate(90)">
                        <tspan x="0" y="0">H</tspan>
                    </text>
                </g>
            </g>
        </g>
        <g id="Lote5">
            <g id="PB_x5F_5">
                <g>
                    <rect class="cls-11" x="86.8" y="416.32" width="85.59" height="26.67" />
                    <text class="cls-7" transform="translate(125.93 431.91)">
                        <tspan x="0" y="0">M</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="86.01" y="449.26" width="85.59" height="19.36" />
                    <text class="cls-7" transform="translate(127.1 461.99)">
                        <tspan x="0" y="0">L</tspan>
                    </text>
                </g>
            </g>
            <g id="piso1_x5F_5">
                <g>
                    <rect class="cls-10" x="144.03" y="383.86" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(161.86 392.48)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="101.51" y="383.86" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(119.34 392.48)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="59.28" y="383.86" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(77.11 392.48)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="143.88" y="399.92" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(161.71 408.54)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="101.35" y="399.92" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(119.18 408.54)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="59.13" y="399.92" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(76.96 408.54)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
            </g>
            <g id="piso2_x5F_5">
                <g>
                    <rect class="cls-10" x="135.55" y="392.57" width="26.67" height="9.46"
                        transform="translate(546.18 248.42) rotate(90)" />
                    <text class="cls-7" transform="translate(145.58 395.04) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="126.32" y="392.57" width="26.67" height="9.46"
                        transform="translate(536.95 257.65) rotate(90)" />
                    <text class="cls-7" transform="translate(136.35 395.04) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="93.51" y="392.57" width="26.67" height="9.46"
                        transform="translate(504.14 290.46) rotate(90)" />
                    <text class="cls-7" transform="translate(103.54 395.04) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="83.59" y="392.57" width="26.67" height="9.46"
                        transform="translate(494.22 300.38) rotate(90)" />
                    <text class="cls-7" transform="translate(93.62 395.04) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="50.26" y="392.57" width="26.67" height="9.46"
                        transform="translate(460.89 333.71) rotate(90)" />
                    <text class="cls-7" transform="translate(60.29 395.04) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="168.67" y="392.57" width="26.67" height="9.46"
                        transform="translate(579.3 215.3) rotate(90)" />
                    <text class="cls-7" transform="translate(178.7 395.04) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
            </g>
        </g>
        <g id="Lote6">
            <g id="PB_x5F_6">
                <g>
                    <rect class="cls-11" x="247.99" y="416.53" width="85.59" height="26.67" />
                    <text class="cls-7" transform="translate(287.13 432.12)">
                        <tspan x="0" y="0">M</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="247.2" y="449.47" width="85.59" height="19.36" />
                    <text class="cls-7" transform="translate(288.3 462.2)">
                        <tspan x="0" y="0">L</tspan>
                    </text>
                </g>
            </g>
            <g id="piso1_x5F_6">
                <g>
                    <rect class="cls-11" x="321.02" y="400.27" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(338.85 408.89)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="319.6" y="383.97" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(337.43 392.59)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="278.44" y="400.27" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(296.27 408.89)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="277.9" y="383.97" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(295.73 392.59)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="235.73" y="400.27" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(253.56 408.89)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="235.73" y="383.97" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(253.56 392.59)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="346.7" y="426.64" width="76.99" height="10.75"
                        transform="translate(817.21 46.82) rotate(90)" />
                    <text class="cls-7" transform="translate(381.47 430.16) rotate(90)">
                        <tspan x="0" y="0">F</tspan>
                    </text>
                </g>
            </g>
        </g>
        <g id="Lote7">
            <g id="PB_x5F_7">
                <g>
                    <rect class="cls-11" x="87.19" y="322.44" width="85.59" height="26.67" />
                    <text class="cls-7" transform="translate(126.33 338.03)">
                        <tspan x="0" y="0">M</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="86.4" y="355.38" width="85.59" height="19.36" />
                    <text class="cls-7" transform="translate(127.49 368.11)">
                        <tspan x="0" y="0">L</tspan>
                    </text>
                </g>
            </g>
            <g id="piso1_x5F_7">
                <g>
                    <rect class="cls-11" x="136.06" y="296.62" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(153.89 305.24)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="136.06" y="280.85" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(153.89 289.47)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="94.55" y="296.62" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(112.38 305.24)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="94.55" y="280.85" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(112.38 289.47)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="51.84" y="296.62" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(69.67 305.24)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="51.84" y="280.85" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(69.67 289.47)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
            </g>
            <g id="piso2_x5F_7">
                <g>
                    <rect class="cls-10" x="127.3" y="289.11" width="26.67" height="9.46"
                        transform="translate(434.48 153.2) rotate(90)" />
                    <text class="cls-7" transform="translate(137.34 291.58) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="118.07" y="289.11" width="26.67" height="9.46"
                        transform="translate(425.25 162.43) rotate(90)" />
                    <text class="cls-7" transform="translate(128.1 291.58) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="165.72" y="299.75" width="15.05" height="9.46"
                        transform="translate(477.73 131.24) rotate(90)" />
                    <text class="cls-7" transform="translate(170.39 302) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="165.72" y="283.78" width="15.05" height="9.46"
                        transform="translate(461.76 115.27) rotate(90)" />
                    <text class="cls-7" transform="translate(170.39 286.03) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="91.04" y="299.29" width="15.05" height="9.46"
                        transform="translate(402.59 205.46) rotate(90)" />
                    <text class="cls-7" transform="translate(95.71 301.54) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="91.04" y="283.32" width="15.05" height="9.46"
                        transform="translate(386.62 189.49) rotate(90)" />
                    <text class="cls-7" transform="translate(95.71 285.57) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="80.94" y="299.29" width="15.05" height="9.46"
                        transform="translate(392.49 215.56) rotate(90)" />
                    <text class="cls-7" transform="translate(85.61 301.54) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="80.94" y="283.32" width="15.05" height="9.46"
                        transform="translate(376.52 199.59) rotate(90)" />
                    <text class="cls-7" transform="translate(85.61 285.57) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="47.82" y="299.64" width="15.05" height="9.46"
                        transform="translate(359.72 249.03) rotate(90)" />
                    <text class="cls-7" transform="translate(52.49 301.89) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="47.82" y="283.67" width="15.05" height="9.46"
                        transform="translate(343.75 233.06) rotate(90)" />
                    <text class="cls-7" transform="translate(52.49 285.92) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
            </g>
        </g>
        <g id="Lote8">
            <g id="PB_x5F_8">
                <g>
                    <rect class="cls-11" x="241.86" y="319.92" width="85.59" height="26.67" />
                    <text class="cls-7" transform="translate(281 335.51)">
                        <tspan x="0" y="0">M</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="241.86" y="352.14" width="85.59" height="26.67" />
                    <text class="cls-7" transform="translate(281 367.73)">
                        <tspan x="0" y="0">M</tspan>
                    </text>
                </g>
            </g>
            <g id="piso1_x5F_8">
                <g>
                    <rect class="cls-11" x="321.38" y="296.62" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(339.21 305.24)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="321.38" y="281.26" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(339.21 289.88)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="279.86" y="296.62" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(297.69 305.24)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="279.86" y="281.26" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(297.69 289.88)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="237.15" y="296.95" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(254.98 305.57)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="237.15" y="281.26" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(254.98 289.88)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
            </g>
            <g id="piso2_x5F_8">
                <g>
                    <rect class="cls-10" x="313.3" y="289.47" width="26.67" height="9.46"
                        transform="translate(620.83 -32.43) rotate(90)" />
                    <text class="cls-7" transform="translate(323.33 291.94) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="304.06" y="289.47" width="26.67" height="9.46"
                        transform="translate(611.6 -23.2) rotate(90)" />
                    <text class="cls-7" transform="translate(314.09 291.94) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="351.71" y="300.11" width="15.05" height="9.46"
                        transform="translate(664.08 -54.4) rotate(90)" />
                    <text class="cls-7" transform="translate(356.38 302.36) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="351.71" y="284.14" width="15.05" height="9.46"
                        transform="translate(648.11 -70.37) rotate(90)" />
                    <text class="cls-7" transform="translate(356.38 286.39) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="277.03" y="299.65" width="15.05" height="9.46"
                        transform="translate(588.94 19.82) rotate(90)" />
                    <text class="cls-7" transform="translate(281.7 301.9) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="277.03" y="283.68" width="15.05" height="9.46"
                        transform="translate(572.97 3.86) rotate(90)" />
                    <text class="cls-7" transform="translate(281.7 285.93) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="266.93" y="299.65" width="15.05" height="9.46"
                        transform="translate(578.84 29.93) rotate(90)" />
                    <text class="cls-7" transform="translate(271.6 301.9) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="266.93" y="283.68" width="15.05" height="9.46"
                        transform="translate(562.87 13.96) rotate(90)" />
                    <text class="cls-7" transform="translate(271.6 285.93) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="233.81" y="300" width="15.05" height="9.46"
                        transform="translate(546.07 63.39) rotate(90)" />
                    <text class="cls-7" transform="translate(238.48 302.25) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="233.81" y="284.03" width="15.05" height="9.46"
                        transform="translate(530.1 47.42) rotate(90)" />
                    <text class="cls-7" transform="translate(238.48 286.28) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
            </g>
        </g>
        <g id="Lote9">
            <g id="PB_x5F_9">
                <g>
                    <rect class="cls-11" x="81.78" y="222.53" width="72.69" height="48.17" />
                    <text class="cls-7" transform="translate(114.61 249.65)">
                        <tspan x="0" y="0">N</tspan>
                    </text>
                </g>
            </g>
            <g id="piso1_x5F_9">
                <g>
                    <rect class="cls-11" x="123.04" y="197.58" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(140.87 206.2)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="123.04" y="181.92" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(140.87 190.54)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="81.52" y="197.58" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(99.35 206.2)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="81.52" y="181.92" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(99.35 190.54)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="38.81" y="197.58" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(56.64 206.2)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="38.81" y="181.92" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(56.64 190.54)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
            </g>
            <g id="piso2_x5F_9">
                <g>
                    <rect class="cls-10" x="114.95" y="190.23" width="26.67" height="9.46"
                        transform="translate(323.25 66.67) rotate(90)" />
                    <text class="cls-7" transform="translate(124.99 192.7) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="105.72" y="190.23" width="26.67" height="9.46"
                        transform="translate(314.02 75.91) rotate(90)" />
                    <text class="cls-7" transform="translate(115.75 192.7) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="153.37" y="200.87" width="15.05" height="9.46"
                        transform="translate(366.5 44.71) rotate(90)" />
                    <text class="cls-7" transform="translate(158.04 203.12) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="153.37" y="184.9" width="15.05" height="9.46"
                        transform="translate(350.53 28.74) rotate(90)" />
                    <text class="cls-7" transform="translate(158.04 187.15) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="78.69" y="200.41" width="15.05" height="9.46"
                        transform="translate(291.36 118.93) rotate(90)" />
                    <text class="cls-7" transform="translate(83.36 202.66) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="78.69" y="184.44" width="15.05" height="9.46"
                        transform="translate(275.39 102.96) rotate(90)" />
                    <text class="cls-7" transform="translate(83.36 186.69) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="68.59" y="200.41" width="15.05" height="9.46"
                        transform="translate(281.26 129.03) rotate(90)" />
                    <text class="cls-7" transform="translate(73.26 202.66) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="68.59" y="184.44" width="15.05" height="9.46"
                        transform="translate(265.29 113.06) rotate(90)" />
                    <text class="cls-7" transform="translate(73.26 186.69) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="35.47" y="200.76" width="15.05" height="9.46"
                        transform="translate(248.49 162.5) rotate(90)" />
                    <text class="cls-7" transform="translate(40.14 203.01) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="35.47" y="184.79" width="15.05" height="9.46"
                        transform="translate(232.52 146.53) rotate(90)" />
                    <text class="cls-7" transform="translate(40.14 187.04) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
            </g>
        </g>
        <g id="Lote10">
            <g id="PB_x5F_10">
                <g>
                    <rect class="cls-11" x="252.1" y="222.53" width="72.69" height="48.17" />
                    <text class="cls-7" transform="translate(284.92 249.65)">
                        <tspan x="0" y="0">N</tspan>
                    </text>
                </g>
            </g>
            <g id="piso1_x5F_10">
                <g>
                    <rect class="cls-11" x="325.26" y="197.82" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(343.09 206.44)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="325.26" y="182.05" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(343.09 190.67)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="283.75" y="197.58" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(301.58 206.2)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="283.75" y="182.05" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(301.58 190.67)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="241.04" y="197.82" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(258.87 206.44)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="241.04" y="182.05" width="42.58" height="10.75" />
                    <text class="cls-7" transform="translate(258.87 190.67)">
                        <tspan x="0" y="0">B</tspan>
                    </text>
                </g>
            </g>
            <g id="piso2_x5F_10">
                <g>
                    <rect class="cls-10" x="317.13" y="190.66" width="26.67" height="9.46"
                        transform="translate(525.86 -135.07) rotate(90)" />
                    <text class="cls-7" transform="translate(327.16 193.13) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="307.9" y="190.66" width="26.67" height="9.46"
                        transform="translate(516.62 -125.84) rotate(90)" />
                    <text class="cls-7" transform="translate(317.93 193.13) rotate(90)">
                        <tspan x="0" y="0">D</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="355.54" y="200.87" width="15.05" height="9.46"
                        transform="translate(568.67 -157.47) rotate(90)" />
                    <text class="cls-7" transform="translate(360.21 203.12) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="355.54" y="184.9" width="15.05" height="9.46"
                        transform="translate(552.71 -173.44) rotate(90)" />
                    <text class="cls-7" transform="translate(360.21 187.15) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="280.87" y="200.84" width="15.05" height="9.46"
                        transform="translate(493.97 -82.82) rotate(90)" />
                    <text class="cls-7" transform="translate(285.54 203.09) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="280.87" y="184.87" width="15.05" height="9.46"
                        transform="translate(478 -98.79) rotate(90)" />
                    <text class="cls-7" transform="translate(285.54 187.12) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="270.76" y="200.84" width="15.05" height="9.46"
                        transform="translate(483.87 -72.72) rotate(90)" />
                    <text class="cls-7" transform="translate(275.44 203.09) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="270.76" y="184.87" width="15.05" height="9.46"
                        transform="translate(467.9 -88.69) rotate(90)" />
                    <text class="cls-7" transform="translate(275.44 187.12) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="237.65" y="200.76" width="15.05" height="9.46"
                        transform="translate(450.67 -39.68) rotate(90)" />
                    <text class="cls-7" transform="translate(242.31 203.01) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-10" x="237.65" y="184.79" width="15.05" height="9.46"
                        transform="translate(434.7 -55.65) rotate(90)" />
                    <text class="cls-7" transform="translate(242.31 187.04) rotate(90)">
                        <tspan x="0" y="0">C</tspan>
                    </text>
                </g>
            </g>
        </g>
        <g id="Lote11">
            <g id="PB_x5F_11">
                <g>
                    <rect class="cls-11" x="91.77" y="114.64" width="55.49" height="29.25" />
                    <text class="cls-7" transform="translate(117.94 132.85)">
                        <tspan x="0" y="0">S</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="91.77" y="79.03" width="55.49" height="29.25" />
                    <text class="cls-7" transform="translate(117.94 97.24)">
                        <tspan x="0" y="0">S</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="91.77" y="151.73" width="55.49" height="19.36" />
                    <text class="cls-7" transform="translate(118.32 163.51)">
                        <tspan x="0" y="0">T</tspan>
                    </text>
                </g>
            </g>
            <g id="piso1_x5F_11">
                <g>
                    <rect class="cls-11" x="79.82" y="56.68" width="76.99" height="10.75" />
                    <text class="cls-7" transform="translate(116.46 65.79)">
                        <tspan x="0" y="0">F</tspan>
                    </text>
                </g>
            </g>
        </g>
        <g id="Lote12">
            <g id="PB_x5F_12">
                <g>
                    <rect class="cls-11" x="270.64" y="104.4" width="55.49" height="29.25" />
                    <text class="cls-7" transform="translate(296.81 122.62)">
                        <tspan x="0" y="0">S</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="270.64" y="141.5" width="55.49" height="19.36" />
                    <text class="cls-7" transform="translate(297.19 153.28)">
                        <tspan x="0" y="0">T</tspan>
                    </text>
                </g>
            </g>
            <g id="piso1_x5F_12">
                <g>
                    <rect class="cls-11" x="262.52" y="56.93" width="53.76" height="10.75"
                        transform="translate(578.8 124.6) rotate(-180)" />
                    <text class="cls-7" transform="translate(292.73 59.08) rotate(-180)">
                        <tspan x="0" y="0">H</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="336.38" y="93.74" width="53.76" height="10.75"
                        transform="translate(726.52 198.24) rotate(-180)" />
                    <text class="cls-7" transform="translate(366.59 95.9) rotate(-180)">
                        <tspan x="0" y="0">H</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="336.38" y="67.24" width="53.76" height="10.75"
                        transform="translate(726.52 145.22) rotate(-180)" />
                    <text class="cls-7" transform="translate(366.59 69.39) rotate(-180)">
                        <tspan x="0" y="0">H</tspan>
                    </text>
                </g>
            </g>
            <g id="Piso2_x5F_12">
                <g>
                    <rect class="cls-11" x="345.87" y="84.05" width="34.41" height="9.46" />
                    <text class="cls-7" transform="translate(361.32 91.92)">
                        <tspan x="0" y="0">A</tspan>
                    </text>
                </g>
                <g>
                    <rect class="cls-11" x="345.87" y="57.55" width="34.41" height="9.46" />
                    <text class="cls-7" transform="translate(361.32 65.41)">
                        <tspan x="0" y="0">A</tspan>
                    </text>
                </g>
            </g>
        </g>
    </svg>
    <!-- Grid de tumbas -->
    <!-- <div class="grid-container">
        <div *ngFor="let row of tumbas">
          <div *ngFor="let tumba of row" [class.available]="tumba.available" [class.unavailable]="!tumba.available">
            {{ tumba.difunto?.names || 'Disponible' }}
          </div>
        </div>
      </div> -->