::ng-deep .cls-1 {
    letter-spacing: 0em;
}

::ng-deep .cls-2 {
    letter-spacing: .01em;
}

::ng-deep .cls-3 {
    letter-spacing: 0em;
}

::ng-deep .cls-4 {
    letter-spacing: 0em;
}

::ng-deep .cls-5 {
    font-family: AcuminVariableConcept, 'Acumin Variable Concept';
    font-size: 27.31px;
    font-variation-settings: 'wght' 194, 'wdth' 100, 'slnt' 0;
}

::ng-deep .cls-5,
::ng-deep .cls-6,
::ng-deep .cls-7 {
    fill: #1d1d1b;
}

::ng-deep .cls-8 {
    letter-spacing: 0em;
}

::ng-deep .cls-6 {
    font-size: 15.17px;
}

::ng-deep .cls-6,
::ng-deep .cls-7 {
    font-family: MyriadPro-Regular, 'Myriad Pro';
}

::ng-deep .cls-9 {
    letter-spacing: 0em;
}


::ng-deep .cls-10 {
    fill: #fff;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

::ng-deep .cls-7 {
    font-size: 9.1px;
    opacity: .2;
}

::ng-deep .cls-12 {
    letter-spacing: 0em;
}

::ng-deep .cls-13 {
    letter-spacing: .01em;
}

::ng-deep .cls-occupied {
    fill: #ee4d4de1;
    /* rojo para ocupado */
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

::ng-deep .cls-available {
    fill: #50a2a7;
    /* verde para disponible */
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

::ng-deep .cls-intermediate {
    fill: #eae7dd;
    /* amarillo para el estado intermedio */
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
}

/* Estilos para el Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
}

.grid {
    display: grid;
    gap: 10px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* Tamaño uniforme */
}

.nicho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    min-width: 100px;
    min-height: 100px;
    box-sizing: border-box;
}

/* Colores de ocupación aplicados a toda la celda */
.ocupado {
    background-color: #ffcccc;
    /* Rojo para ocupado */
}

.disponible {
    background-color: #ccffcc;
    /* Verde para disponible */
}

.Lleno {
    background-color: #ee8c8c;
}

.vacio {
    background-color: #a9f7a9;
}

.intermedio {
    background-color: #50a2a7;
    /* Color para el estado intermedio */
}