<div>
    <div #reportContent
        class="min-h-screen bg-[#eae7dd] dark:bg-[#2a2b2a] text-[#2a2b2a] dark:text-[#eae7dd] flex flex-col items-center p-4">
        <h1 class="text-3xl font-boston text-[#99775c] mb-6">Reporte del Estado de los Servicios</h1>

        <!-- Gráfico de Estado de Servicios -->
        <div class="container mx-auto p-4 bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-lg mb-6">
            <apx-chart *ngIf="chartOptions" [series]="chartOptions.series" [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels"
                [plotOptions]="chartOptions.plotOptions">
            </apx-chart>
        </div>

        <h2 class="text-2xl font-boston mb-4 text-[#99775c] dark:text-[#eae7dd] py-6 mt-4">Tabla del Estado de los Servicios</h2>

        <!-- Tabla de Estado de Servicios -->
        <div class="overflow-x-auto w-full max-w-4xl mb-6 bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-md p-6">
            <table class="min-w-full bg-[#ffffff] dark:bg-[#2a2b2a] rounded-lg shadow-md text-center">
                <thead class="bg-[#50a2a7]">
                    <tr>
                        <th
                            class="px-6 py-3 text-center text-xs font-medium text-white dark:text-[#eae7dd] uppercase">
                            Tipo de Ceremonia
                        </th>
                        <th
                            class="px-6 py-3 text-center text-xs font-medium text-white dark:text-[#eae7dd] uppercase">
                            Activos
                        </th>
                        <th
                            class="px-6 py-3 text-center text-xs font-medium text-white dark:text-[#eae7dd] uppercase">
                            Completados
                        </th>
                        <th
                            class="px-6 py-3 text-center text-xs font-medium text-white dark:text-[#eae7dd] uppercase">
                            Pendiente de Pago
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let servicio of servicioEstadoData"
                        class="border-b border-[#99775c] dark:border-[#eae7dd] odd:bg-[#f5f5f5] dark:odd:bg-[#2e2f2e]">
                        <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">{{ servicio.ceremony }}</td>
                        <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">{{ servicio.activos }}</td>
                        <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">{{ servicio.completados }}</td>
                        <td class="px-6 py-4 text-sm text-[#2a2b2a] dark:text-[#eae7dd]">{{ servicio.pendiente_pago }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <button (click)="downloadFullPDF()"
        class="bg-[#50a2a7] text-[#ffffff] px-4 py-2 rounded-lg shadow-sm hover:bg-[#99775c] dark:bg-[#50a2a7] dark:hover:bg-[#99775c]">
        Descargar PDF
    </button>
</div>
